* {
   margin: 0;
   padding: 0;
}
.header {
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(21, 30, 83, 0.7), rgba(32, 33, 39, 0.7)),
url('../images/iphonesixplusblank.png');
background-position: center;
background-size: cover;
position: relative;
}
.rating {
   position: absolute;
   top: 50%;
   left: 35%;
   transform: translate(-50,-50);
   display: flex;
}
.rating  input
{
   display: none;
}

.rating label{
   display: block;
   cursor: pointer;
   width: 60px;
   height: 50px;

}
.rating  label:before
{
    content:'\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
}
.rating  label:after
{
    content:'\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: yellow;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0.5)
}
.rating  label:hover:after,
.rating  label:hover ～ label:after,
.rating input:checked ～ label:after
{
   opacity: 1;
}